
.b2 {
  background-image: url(./biege.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#divn {
  display: flex;
  background-color: #333;
  width: 100wh;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 17px;
}
#divp1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 80vh;
  @media screen and (max-width: 60em) {
    grid-template-rows: repeat(4, 1fr);
  }
}
#but1{
background-color:rgb(110, 105, 105);
}
#but2{
  background-color:rgb(110, 105, 105);
  }
#divab {
  display: flex;
  margin: auto;
}
#divab2 {
  display: block;
  border-top: solid blueviolet;
  height: 57vh;
  background-color: rgba(0, 0, 0, 0.267);
}
#divqu{
  display: flex;
  justify-content:space-around;
}
#divans{
  display: grid;
  justify-content: space-between;
}

li {
  float: right;
}
ul {
  list-style-type: none;
}
li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: rgb(33, 96, 212);
  margin-right: 20px;
  text-decoration: none;
}
#hn {
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
}

.marr {
  margin-right: 15px;
}
.marb {
  margin-bottom: 30px;
}
.marl {
  margin-left: 40px;
}
.marr1 {
  margin-right: 40px;
}
.h1s {
  font-size: xx-large;
  display: flex;
  position: relative;
  top: 95px;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.pic {
  display: flex;
  margin: auto;
  width: 40px;
  height: 40px;
}
.cur {
  cursor: pointer;
}
#sec1 {
  margin-bottom: 100px;
}
#h2ab {
  display: flex;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 35px;
  padding-left: 9px;
}
#h2q{
  display: flex;
  margin-bottom: 4px;
  border-radius: 18px 5px;
}

#pab {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding-left: 14px;
}
